body{
  background: black;
}
.text{
    color:white;
    margin-left:42.5%;
    margin-top:20%;
    position: absolute;
}
.btn{
  background-color:red;
  border: none;
  color: white;
  padding: 30px;
  position: absolute;
  border-radius:50%;
  align: center;
  margin-left:48.5%;
  margin-top:23%;
}
